<div role="tabpanel" class="tab-pane " id="<%=name%>">
    <div class="filter_items_box ">
        <div class="clearfix">
            <div class="col-md-12">
                <div class="inputbox">
                    <input type="text" placeholder="Search Project Name">
                    <span class="icon-Search"></span>
                    </input>
                </div>
            </div>
        </div>
        <div class="filter_items bottom_border clearfix">
            <div class="clearfix">
                <div class="col-md-3">
                </div>

                <div class="col-md-3">
                </div>

                <div class="col-md-3">
                </div>

                <div class="col-md-3">
                    <!--
                    <div class="checkbox">
                        <input type="checkbox" id="chk_3p" value="" />
                        <label for="chk_3p">Change Request</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="chk_4p" value="" />
                        <label for="chk_4p">Risk</label>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="error" style="display:none;">
                    <p>You have chosen less attributes, please select minimum four attributes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="below_buttons_padding">
        <div class="clearfix">
            <div class="col-md-3">
                <div class="filter_content_more_link"> <a data-toggle="modal" data-target="#myModal">162 more</a> </div>
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <button type="button" class="btn primary_button filter_apply">Apply</button>
                    <button type="button" class="btn primary_button cancel_button ">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>